*.iml
*.idea
*.xml
*.idea/misc.xml
.idea/workspace.xml
.idea/misc.xml
.idea/SlimShady.iml
*.idea/
*.pyc
*.csv
slim/parametrization.py
slim/main_slim.py
slim/main_slim.py
slim/main_gp.py
slim/utils/results_analyser.ipynb
*.txt
*.zip
.DS_Store
[Dr]aft*
