*.iml
*.idea
*.xml
*.idea/misc.xml
.idea/workspace.xml
.idea/misc.xml
.idea/SlimShady.iml
*.idea/
*.pyc
*.csv
main/parametrization.py
main/main_slim.py
main/main_slim.py
main/main_gp.py
utils/results_analyser.ipynb
*.txt
!requirements.txt
*.zip
*.pdf
*.pyc
/main/log/tabgpgo_artifacts
/main/log/tabgpgo_latent_artifacts
/main/log/tabgpgo_aux_artifacts/aux_0
/main/log/tabgpgo_aux_artifacts/aux_1
main/log/tabgpgo_tabpfn_artifacts/tabpfn_pool_bundle.pkl
